<div class="header-nav col-12-top grid">
    <div class="col-4_sm-12-left-middle text-left no-padding sm-text-center">
        <a href="/index.html">
        <h2 class="padded-l-05"> The Sleep Co </h2> <!--- Would be Image if you have a LOGO -->
        </a>
    </div>

    <nav class="col-8_sm-12-right text-right no-padding sm-text-center">
            <a href="/index.html" class="padded-1"> Home </a>
            <a href="/about.html" class="padded-1"> About </a>
            <a href="/products.html" class="padded-1"> Products </a>
            <a href="/contact.html" class="padded-1"> Contact </a>  
    </nav>

</div>